{% extends "base.html" %}

{% block content %}

{% include "includes/navbar.html" %}

<table class="table table-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">System id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
        {% for system in system_list %}
        <tr>
            <th scope="row">{{ system.id_system }}</th>
            <td>{{ system.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% debug %}
